Magistrale/Impianti[[:space:]]di[[:space:]]elaborazione/** filter=lfs diff=lfs merge=lfs -text
Magistrale/Architettura[[:space:]]dei[[:space:]]sistemi[[:space:]]di[[:space:]]elaborazione/** filter=lfs diff=lfs merge=lfs -text
Magistrale/Sistemi_Embedded/** filter=lfs diff=lfs merge=lfs -text
